<div id="notificationDropdown" class="notification-dropdown z-depth-2">
  <h6 style="margin: 0.5rem;">Notifications</h6>
  <ul id="notificationList" class="collection" style="max-height: 300px; overflow-y: auto; margin: 0;"></ul>
    <div class="center-align" style="margin-top: 0.5rem;">
      <button id="clearNotificationsBtn" class="btn-flat red-text">Clear All</button>
    </div>
</div>

<style>
  .notification-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    color: black;
    width: 300px;
    border-radius: 6px;
    z-index: 999;
    padding: 0.5rem 0;
  }
</style>
